<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post" action = "">
        {% csrf_token %}
    <select name="subject" multiple slze= 6 style="width: 100px; height:100px;">
        {% for list in qs %}
        <option value="{{list.id}}">{{list.name}}</option>
        {% endfor %} 
    <option>
        <input type = "submit" name = "submit" value = Submit>
    </form>
</body>
</html>