secret_key : 'fektyvefj5$a+2-hs4og)n%medpy==(cuxz13(=lzi7p-j!h%p'
debug : True
allowed_host : ["*"]
db_host: 'localhost'
db_username: 'root'
db_password: 'root'
db_name: 'user_eats'
db_engine: 'django.db.backends.mysql'
db_port: '3305'
encryption_key: 'tHfvWpDD6T1TVjv0WWnumEZ-Y78PEZV8vs7JcL-zK3w='


