secret_key : 'django-insecure-7-+klm1kf84*c7u=c1q-0zplwk*ifrbzg@v9)$l+_(w6p-m)ko'
debug : True
allowed_host : ["*"]
db_host: 'localhost'
db_username: 'root'
db_password: 'root'
db_name: 'user_eats'
db_engine: 'django.db.backends.mysql'
db_port: '3305'
encryption_key: 'tHfvWpDD6T1TVjv0WWnumEZ-Y78PEZV8vs7JcL-zK3w='


